<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="git" />
	<package id="7Zip" />
	<package id="winrar" />
	<package id="visualstudio2026enterprise" />
	<package id="microsoft-teams" />
	<package id="qbittorrent" />
	<package id="ditto" />
	<package id="firefox" />
	<package id="brave" />
	<package id="notepadplusplus" />
	<package id="vlc" />
	<package id="googlechrome" />
	<package id="flameshot" />
	<package id="linqpad" />
	<package id="sumatrapdf" />
</packages>